.header-component {
  &__header {
    margin: 0 auto;
    max-width: 80rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__content {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;

      &__actions {
        display: flex;
        flex-direction: row;
        gap: 1rem;

        .p-popover-content {
          display: flex;
          gap: 1rem;
        }
      }
    }
  }
}
