.home-component {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 2rem;
  margin-top: 1.875rem;

  &__product-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 25rem;
  }
}
